@{
    ViewData["Title"] = "Home Page";
}



<div>

</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTR1DP7X7ZJxwF-7hIDs9a4qzUKG7NlrJTcP38GgoxecZwTtq4P" class="card-img-top" alt="Car Image 1">
                <div class="card-body">
                    <h5 class="card-title">BMW X6 </h5>
                    <p class="card-text">Explore our collection of luxurious cars. Perfect for a comfortable and stylish ride.</p>
                    <a href="#" class="btn btn-primary">View Cars</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://autojosh.com/wp-content/uploads/2023/04/refreshed_gls_autojosh.jpg" class="card-img-top" alt="Car Image 2">
                <div class="card-body">
                    <h5 class="card-title">Mercedes-Maybach GLS </h5>
                    <p class="card-text">Check out our selection of high-performance sports cars. Feel the adrenaline rush!</p>
                    <a href="#" class="btn btn-primary">View Cars</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRjHdL_Mu4Y60fVtfyqhWUM47nWH3hmySVZZZIKWNltEjy2-B27" class="card-img-top" alt="Car Image 3">
                <div class="card-body">
                    <h5 class="card-title">Mercedes Classe G</h5>
                    <p class="card-text">Find the perfect family car that combines comfort and practicality for your trips.</p>
                    <a href="#" class="btn btn-primary">View Cars</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://example.com/car-image-1.jpg" class="card-img-top" alt="Car Image 1">
            <div class="card-body">
                <h5 class="card-title">Luxury Cars</h5>
                <p class="card-text">Explore our collection of luxurious cars. Perfect for a comfortable and stylish ride.</p>
                <a href="#" class="btn btn-primary">View Cars</a>
                <p>shshhsshh</p>
            </div>
        </div>
    </div>
    
</div>